<div style="background-color: #7b6832; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: cyan; font-size: 40px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;">SPORTS PROJECT STORY
</h1>
</div>

<div style="background-color: #3b6832; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: cyan; font-size: 20px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;">TECH TITANS
</h1>
</div>

# PROBLEM STATEMENT 1

### IMPORTING NECESSARY MODULES

In [219]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import plotly.express as px
from scipy import stats
from scipy.stats import zscore
import seaborn as sns
from scipy.stats.mstats import winsorize 
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.io as pio
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.decomposition import PCA  # Import PCA correctly
from sklearn.impute import KNNImputer

### READ THE CSV FILE

In [220]:
df=pd.read_csv("Sports Dataset.csv")

### DUPLICATES

In [221]:
# Check for duplicated rows based on all columns
duplicated_rows = df.duplicated()

# Print the duplicate rows
print("Duplicate Rows :\n", df[duplicated_rows])

Duplicate Rows :
        Unnamed: 0    Player    Team  Age      Height      Weight    Position  \
10003         479  Player D  Team B   28  186.676216   92.581632  Midfielder
10004        4819  Player C  Team A   21  180.049309   73.049301     Forward
10005        3536  Player A  Team C   20  185.549570  111.329785  Midfielder
10008        4010  Player B  Team C   20  177.503910   81.762427    Defender
10009        2881  Player A  Team C   34  190.993111   89.583049     Forward
...           ...       ...     ...  ...         ...         ...         ...
19989        1173  Player C  Team B   21  193.777053         NaN  Goalkeeper
19990         461  Player A  Team B   29         NaN   83.976103     Forward
19992        3381  Player D  Team B   29  173.369855         NaN     Forward
19993         833  Player D  Team C   35  198.137433   61.359658    Defender
19998        3876  Player A  Team A   36  188.985253   93.942995  Goalkeeper

       Goals  Assists  YellowCards  ...  TacklesWon  CleanSheets  \
10003   20.0      2.0            9  ...          19            2
10004    NaN     19.0            2  ...           2            3
10005   17.0      NaN            6  ...           6            7
10008    4.0      6.0            6  ...          23            8
10009   28.0     10.0            3  ...          18            0
...      ...      ...          ...  ...         ...          ...
19989    1.0      NaN            5  ...          26            8
19990    NaN      1.0            5  ...           0            6
19992    NaN      1.0            2  ...          12            5
19993   80.0     10.0            6  ...          15            9
19998    NaN      9.0            1  ...          15            4

       PlayerFatigue  MatchPressure  InjuryHistory  TrainingHours  \
10003       0.410933             62              8       7.679630
10004       0.753476             59              1      13.143236
10005       0.583307             90              0       5.239957
10008       0.940180             44              1      14.422160
10009       0.855030             32              2      12.642942
...              ...            ...            ...            ...
19989       0.836440             69              3       8.695777
19990       0.685713             58              5       6.606108
19992       0.576406              3              9      18.327394
19993       0.215359             85              0      18.481958
19998       0.168204              2              7      18.990966

       FatigueInjuryCorrelation  PressurePerformanceImpact  EffectiveTraining  \
10003                  0.000000                   3.047619         340.384031
10004                  2.905791                        NaN                NaN
10005                  0.659387                   3.222222                NaN
10008                  0.215672                   5.000000          81.805986
10009                  3.706639                   1.896552         482.004998
...                         ...                        ...                ...
19989                  7.111101                  28.000000                NaN
19990                  0.383971                        NaN                NaN
19992                  0.000000                   0.555556         517.470341
19993                  0.789235                   0.333333        1241.892718
19998                  2.782170                   6.200000         227.990884

       Season
10003    2021
10004    2022
10005    2021
10008    2020
10009    2021
...       ...
19989    2022
19990    2020
19992    2020
19993    2019
19998    2022

[3372 rows x 25 columns]

### DROP DUPLICATES

In [222]:
df = df.drop_duplicates()

### RE-CHECK FOR DUPLICATES

In [223]:
# Check for duplicated rows based on all columns
duplicated_rows = df.duplicated()

# Print the duplicate rows
print("Duplicate Rows :\n", df[duplicated_rows])

Duplicate Rows :
 Empty DataFrame
Columns: [Unnamed: 0, Player, Team, Age, Height, Weight, Position, Goals, Assists, YellowCards, RedCards, PassCompletionRate, DistanceCovered, Sprints, ShotsOnTarget, TacklesWon, CleanSheets, PlayerFatigue, MatchPressure, InjuryHistory, TrainingHours, FatigueInjuryCorrelation, PressurePerformanceImpact, EffectiveTraining, Season]
Index: []

[0 rows x 25 columns]

### NULL VALUES

In [224]:
print(df.isna().sum())

Unnamed: 0                      0
Player                          0
Team                            0
Age                             0
Height                       3864
Weight                       3950
Position                        0
Goals                        3939
Assists                      3935
YellowCards                     0
RedCards                        0
PassCompletionRate           2410
DistanceCovered                 0
Sprints                         0
ShotsOnTarget                   0
TacklesWon                      0
CleanSheets                     0
PlayerFatigue                   0
MatchPressure                   0
InjuryHistory                   0
TrainingHours                   0
FatigueInjuryCorrelation        0
PressurePerformanceImpact    1711
EffectiveTraining            3228
Season                          0
dtype: int64

### IMPUTATION FOR NULL VALUES

In [225]:
import pandas as pd


# Iterate over each column in the DataFrame
for column in df.select_dtypes(include='number'):
    # Calculate the mean of the column
    mean_value = df[column].mean()
    # Impute null values with the mean
    df[column].fillna(mean_value, inplace=True)

C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\3320877046.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mean_value, inplace=True)

In [226]:
# Round off specific columns to the nearest integer
df['Assists'] = df['Assists'].round().astype(int)
df['Goals'] = df['Goals'].round().astype(int)

### OUTLIER DETECTION

In [227]:
from scipy.stats import zscore
numeric_columns = df.select_dtypes(include=['number'])
z_scores = numeric_columns.apply(zscore)
threshold = 3
outliers = (z_scores.abs() > threshold)
# Display the rows with outliers
outlier_rows = df[outliers.any(axis=1)]

# Get the row indices of the outliers for each column
outlier_indices = {}
for col in outliers.columns:
    outlier_indices[col] = outliers.index[outliers[col]].tolist()

### OUTLIER CORRECTION

In [228]:
# Replace outliers with the mean of the respective column
for col in outliers.columns:
    mean_without_outliers = numeric_columns.loc[~outliers[col], col].mean()
    df.loc[outliers[col], col] = mean_without_outliers

C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2504.895116670676' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '28.580887659369736' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '34.278806150135665' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.35849170074573' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.551118595140727' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.9972937214337263' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '48.26503488092374' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6.910031272552321' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.476124609093096' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.528506134231417' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.87226365167188' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.4800938176569645' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers
C:\Users\nagad\AppData\Local\Temp\ipykernel_17208\1931250825.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2020.5014433485687' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outliers[col], col] = mean_without_outliers

In [229]:
# Add a new column 'serial number' with values starting from 1
df.insert(0, 'serial number', range(1, len(df) + 1))

In [230]:
df.to_csv("cleaned_sports_dataset.csv", index=False)